.topAlignedPanelGrid>tbody>tr>td {
	vertical-align: top;
}

div[id$="searchTeacherTable"]>div>table>thead {
	display: none;
}

.blueActivity {
	background: -webkit-repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298
		10px, #465298 20px);
	background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px,
		#465298 20px);
}

.redActivity {
	background: -webkit-repeating-linear-gradient(45deg, #bc606d, #bc606d 10px, #984652
		10px, #984652 20px);
	background: repeating-linear-gradient(45deg, #bc606d, #bc606d 10px, #984652 10px,
		#984652 20px);
}

.grayActivity {
	background: -webkit-repeating-linear-gradient(45deg, #535353, #535353 10px, #6d6d6d
		10px, #6d6d6d 20px);
	background: repeating-linear-gradient(45deg, #535353, #535353 10px, #6d6d6d 10px,
		#6d6d6d 20px);
}

.yellowActivity {
    background: -webkit-repeating-linear-gradient(45deg, #c4b872, #c4b872 10px, #a59745
        10px, #a59745 20px);
    background: repeating-linear-gradient(45deg, #c4b872, #c4b872 10px, #a59745 10px,
        #a59745 20px);
}

.greenActivity {
    background: -webkit-repeating-linear-gradient(45deg, #60bdaf, #60bdaf 10px, #45a597
        10px, #45a597 20px);
    background: repeating-linear-gradient(45deg, #60bdaf, #60bdaf 10px, #45a597 10px,
        #45a597 20px);
}

.activity {
	color:black;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box; /* Firefox, other Gecko */
	box-sizing: border-box; /* Opera/IE 8+ */
}